.div {
  display: flex;
  flex-direction: row;
}

.img {
  border-radius: 100%;
}
.img2:hover {
  filter: drop-shadow(2px 4px 6px black);
}



.divGeneral {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.178);
  height: 80px;
}

.a {
  color: white;
  text-decoration: none !important
}
.a:hover{
  color: #fdc501;
}
.ul {
  display: flex;
  align-items: center;
  list-style:none
}

.li {
  margin: 1rem;

}
