<div class="conteiner">
  <div class="conteiner2">
    <h2 style="font-size: 2rem; font-weight: 600; color: #ffeb3b">
      ¡Participa en la timba inflacionaria y gana dinero de verdad!
    </h2>
    <div>
      <h3>
        En esta ocasión, te ofrecemos una oportunidad única para poner a prueba
        tus habilidades y conocimientos financieros sobre Peronía.
        <br />Después de las elecciones primarias (PASO), estaremos realizando
        un sorteo especial en el que podrás ganar hasta 50 dólarucos.
        <br /><br />
        ¿Cómo funciona?
        <br />Es muy sencillo. El día después de las PASO, tomaremos el valor
        del dólar blue en pesos argentinos y lo anunciaremos en nuestras redes
        sociales y sitio web. Tu tendrás la misión de adivinar el valor exacto o
        acercarte lo más posible al valor real del dólar en pesos argentinos.
        <br />
        Tienes tiempo hasta el dia de las elecciones y solo una chance de registrarte, piensa bien, ¿qué tan devaluados estamos?
      </h3>
    </div>

    <div
      class="m-8"
      style="color: #276749; font-size: 1.4rem"
      id="contador"
    ></div>
  </div>
</div>
