<section class="conteiner m-20">
  <div>
    <h2>Registrate para participar</h2>
  </div>
  <form class="form m-5">
    <div class="mb-6">
      <label class="block text-sm font-bold mb-2">DNI</label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="Dni"
        type="number"
        placeholder="Dni"
      />
    </div>

    <div class="mb-6">
      <label class="block text-sm font-bold mb-2">Nombre y Apellido</label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="Nombre"
        type="text"
        placeholder="Nombre"
      />
    </div>

    <div class="mb-6">
      <label class="block text-sm font-bold mb-2">Correo Electrónico</label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="Email"
        type="email"
        placeholder="Email"
      />
    </div>

    <div class="mb-6">
      <label class="block text-sm font-bold mb-2">Fecha de Nacimiento</label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        type="date"
        id="fecha_nacimiento"
        name="fecha_nacimiento"
        min="1900-01-01"
        max="2005-12-31"
        required
      />
    </div>

    <div class="mb-6 flex flex-row">
      <label class="block text-sm font-bold mb-2 inputs"
        >Acepto bases y condiciones</label
      >
      <input id="select" type="checkbox" class="" />
    </div>

    <div
      class="mb-6 p-3"
      style="background-color: #276749; border-radius: 1rem"
    >
      <label class="block text-sm font-bold mb-2">Precio del Dolar</label>
      <div class="flex m-2">
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="Dolar"
          type="text"
          placeholder="Precio del Dolar"
        /><label class="m-2">ARS</label>
      </div>
    </div>

    <div class="mb-6">
      <button
        class="button transform motion-reduce:transform-none hover:-translate-y-1 hover:scale-110 transition ease-in-out duration-300"
      >
        Registrarse
      </button>
    </div>
  </form>
</section>
