<section class="conteiner m-20" *ngIf="!userRegister && !registroCerrado">
  <div>
    <h2>Registrate para participar</h2>
  </div>
  <form
    class="form m-5"
    #registroForm="ngForm"
    (ngSubmit)="registrarUsuario(registroForm)"
  >
    <div class="mb-6">
      <label class="block text-sm font-bold mb-2" for="dni">DNI</label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="Dni"
        type="number"
        placeholder="Dni"
        name="dni"
        ngModel
        required
        [formControl]="dniControl"
      />
      <div
        *ngIf="dniControl.invalid && dniControl.touched"
        class="text-red-500 text-sm mt-1"
      >
        <div *ngIf="dniControl.hasError('required')">
          El DNI es obligatorio.
        </div>
        <div *ngIf="dniControl.hasError('pattern')">
          El DNI debe contener exactamente 8 dígitos numéricos.
        </div>
      </div>
    </div>

    <div class="mb-6">
      <label class="block text-sm font-bold mb-2" for="nombre"
        >Nombre y Apellido</label
      >
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="Nombre"
        type="text"
        placeholder="Nombre"
        name="nombre"
        ngModel
        required
        [formControl]="nombreControl"
      />
      <div
        *ngIf="nombreControl.invalid && nombreControl.touched"
        class="text-red-500 text-sm mt-1"
      >
        <div *ngIf="nombreControl.hasError('required')">
          El nombre es obligatorio.
        </div>
        <div *ngIf="nombreControl.hasError('pattern')">
          El nombre debe contener solo letras ser de mas de 6 caracteres.
        </div>
      </div>
    </div>

    <div class="mb-6">
      <label class="block text-sm font-bold mb-2" for="email"
        >Correo Electrónico</label
      >
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="Email"
        type="email"
        placeholder="Email"
        name="email"
        ngModel
        required
        [formControl]="emailControl"
      />
      <div
        *ngIf="emailControl.invalid && emailControl.touched"
        class="text-red-500 text-sm mt-1"
      >
        <div *ngIf="emailControl.hasError('required')">
          El correo electrónico es obligatorio.
        </div>
        <div *ngIf="emailControl.hasError('pattern')">
          Ingrese un correo electrónico válido.
        </div>
      </div>
    </div>
    <div class="mb-6">
      <label class="block text-sm font-bold mb-2" for="telefono"
        >Teléfono</label
      >
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="Telefono"
        type="number"
        placeholder="Teléfono"
        name="telefono"
        ngModel
        [formControl]="telefonoControl"
      />
      <div
        *ngIf="telefonoControl.invalid && telefonoControl.touched"
        class="text-red-500 text-sm mt-1"
      >
        <div *ngIf="telefonoControl.hasError('required')">
          El teléfono es obligatorio.
        </div>
        <div *ngIf="telefonoControl.hasError('pattern')">
          Ingrese un número válido de teléfono.
        </div>
      </div>
    </div>

    <div class="mb-6">
      <label class="block text-sm font-bold mb-2" for="fechaNacimiento"
        >Fecha de Nacimiento</label
      >
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        type="date"
        id="fecha_nacimiento"
        name="fecha_nacimiento"
        [formControl]="fechaNacimientoControl"
        [max]="getFechaMinima()"
      />
      <div
        *ngIf="fechaNacimientoControl.invalid && fechaNacimientoControl.touched"
        class="text-red-500 text-sm mt-1"
      >
        <div *ngIf="fechaNacimientoControl.hasError('required')">
          La fecha de nacimiento es obligatoria.
        </div>
      </div>
    </div>

    <div
      class="mb-6 p-3"
      style="background-color: #276749; border-radius: 1rem"
    >
      <label class="block text-sm font-bold mb-2" for="valorDolar"
        >Precio del Dolar</label
      >
      <div class="flex m-2">
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="Dolar"
          type="number"
          placeholder="Precio del Dolar"
          name="dolar"
          ngModel
          required
          [formControl]="usdControl"
        />
        <label class="m-2">ARS</label>
      </div>
      <div
        *ngIf="usdControl.invalid && usdControl.touched"
        class="text-red-500 text-sm mt-1"
      >
        <div *ngIf="usdControl.hasError('required')">
          El Valor es obligatorio.
        </div>
        <div *ngIf="usdControl.hasError('pattern')">
          Ingrese un número válido de precio dolar no mayor a 5 digitos.
        </div>
      </div>
    </div>

    <div class="mb-6">
      <button
        type="submit"
        class="button transform motion-reduce:transform-none hover:-translate-y-1 hover:scale-110 transition ease-in-out duration-300"
      >
        Registrarse
      </button>
    </div>
  </form>
</section>

<section class="conteiner m-20" id="registroCerrado" *ngIf="registroCerrado">
  <h2>¡Registro cerrado!</h2>
  <p>El plazo para participar en la timba ha finalizado.</p>
</section>

<section class="conteiner m-20" id="registroCerrado" *ngIf="userRegister">
  <h2>¡Ya te registraste!</h2>
  <p>Espera al 15 de agosto para saber el ganador.</p>
</section>
