<header>
  <img (click)="goHome()"
    src="https://partidoliberalpesimista.com/assets/network/twitter/PLPArgentina-trnsp-2b7a7117476f227d3db70fbd175cb4c9e322c09190f35b26c61f4fafba7f774a8658890d5aaa0985cc01b7af894f8c0d3b147cde32d675f391de21b59bf9f764.png"
    style="width: 100px;"
  />
  <h2 (click)="goHome()" class="link">Inicio</h2>
  <h2 (click)="goRegister()" class="link">Registro</h2>
  <h2 (click)="goParticipants()" class="link">Participantes</h2>
  <h2 (click)="goWins()" class="link">Ganador</h2>
</header>
