.link {
  color: rgba(255, 255, 255, .5);
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
}

.divHeader {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 18rem;

}
