<section class="container">
  <div class="divContent">
    <div class="divTitle">
      <h2 style="font-size: 1.3rem">Cantidad total de participantes</h2>
      <h2 style="font-size: 2rem; color: #276749" class="ml-3">
        {{ cantidadTotalParticipantes }}
      </h2>
    </div>
    <div *ngIf="ultimosParticipantes.length > 0" class="tableContainer">
      <table class="table">
        <thead>
          <tr>
            <th>Participante</th>
            <th>Fecha de Registro</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let participante of ultimosParticipantes">
            <td>{{ participante._id }}</td>
            <td>
              {{ participante.fechaDeRegistro | date : "dd/MM/yyyy, HH:mm:ss" }} hs
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
