.conteiner {
  height: calc(100vh - 90px - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5rem;

}

/* Add these CSS styles in your component's CSS file or in the global styles */

/* Style the table */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* Style the table headers */
.table th {
  background-color: #00000030;
  text-align: left;
  padding: 1.7rem 4rem;
}

/* Style the table cells */
.table td {
  border: 1px solid #232323;
  padding: 1.3rem 2rem;
}

.divTitle {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
